.blog-list-header {
    box-shadow: 0 5px 4px -2px rgba(24,39,75,.12),0 5px 4px -2px rgba(24,39,75,.08);
}

.blog-list-header blockquote {
    background-color: #F2F5F7;
    padding: 1em;
    /*text-align: center;*/
    font-family: 'Arima';
}

.blog-list-header blockquote p {
    max-width: 1200px;
    padding-inline: 10%;
    text-align: center;
}

.blog-list-main {
    max-width: 1200px;
    width: 80%;
    margin-inline:auto;
}

.blog-list-article {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-inline: auto;
    width: 100%;
    height: auto;

}

.blog-list-article a {
    width: 57%;
    padding: 0;
    margin: 0;
}

.blog-list-article img {
    width: 100%;
    border-radius: 0.3em;
    padding: 0;
    margin: 0;
    transition: scale 0.3s ease-out, box-shadow 0.3s;
}

.blog-list-article img:hover {
    scale: 1.02;
    /*box-shadow: 0 0 3px 3px #5D9943;*/
}

.blog-list-article section {
    width: 40%;
    padding-left: 3%;
}

.blog-list-article section a {
    font-family: 'Madimi One';
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #113826;
}

.blog-list-article section a:hover {
    color: #5D9943;
    text-decoration: underline;
}

.blog-list-article section p {
    color: #113826;
    font-family: 'Arima';
    font-size: 1.2em;
    margin-top: 1em;
}

.no-blog-posts {
    font-family: 'Madimi One';
    font-size: 2em;
    color: #113826;
    margin-inline: auto;
    margin-top: 3em;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .blog-list-main {
        width: 90%;
    }
}

@media only screen and (max-width: 1150px) {
    .blog-list-main {
        width: 93%;
    }
}

@media only screen and (max-width: 800px) {
    .blog-list-main {
        width: 95%;
    }

    .blog-list-article {
        width: 100%;
        flex-direction: column;
    }

    .blog-list-article a {
        width: 100%;
    }

    .blog-list-article section {
        width: 100%;
        padding: 0;
    }

    .blog-list-article img:hover {
        scale: 1;
    }

    .blog-list-article section a {
        font-size: 1.3em;
    }
}